# Variables de entorno para el backend de appTrackingPaquetesAPA
PORT=3090
MONGODB_URI=mongodb://localhost:27017/appTrackingPaquetesAPA
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecretojwt
JWT_EXPIRES_IN=1d
NODE_ENV=development
