NODE_ENV=development
PUERTO=3090
MONGO_URI=mongodb://127.0.0.1:27017/appTrackingPaquetesAPA
REDIS_URL=redis://127.0.0.1:6379
CORS_ORIGINS=http://localhost:4300
JWT_SECRET=cambiar_esta_clave_en_produccion
JWT_EXPIRES_IN=1d
