NODE_ENV=development
PUERTO=4300
PORT=4300
MONGO_URI=mongodb://127.0.0.1:27017/appTrackingPaquetesAPA
MONGODB_URI=mongodb://127.0.0.1:27017/appTrackingPaquetesAPA
REDIS_URL=redis://127.0.0.1:6379
CORS_ORIGINS=http://localhost:3180
FRONTEND_URL=http://localhost:3180
UPLOAD_DIR=uploads/evidencias
JWT_SECRET=cambiar_esta_clave_en_produccion
JWT_EXPIRES_IN=1d
